@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-jakarta);
}

:root {
  --background: #f4f6f9;
  --foreground: #63667e;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
